<div class="modal-header">
  <h5 class="modal-title" id="TrackModalLabel">Create Track</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<%= form_for @track, url: user_album_tracks_path, remote: true do |f| %>
  <div class="modal-body mb-5">
    <div class="mb-3">
      <%= f.label :title, 'Add Title*', autocomplete: "title" %>
      <%= f.text_field :title, class: 'form-control', autocomplete: "title", autofocus: true, required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :track, 'Add Track*', autocomplete: "track" %>
      <%= f.file_field :track, class: "form-control", autofocus: true %>
      <i><%= f.label :track, '*Please submit music files (WAV or MP3)' %></i>
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-center">
    <%= f.button 'ADD TO ALBUM AND SAVE', type: 'submit', class: 'btn btn-secondary mb-3', name: "is_submitted", value: "false" %>
    <%= f.button 'ADD TO ALBUM AND SUBMIT', type: 'submit', class: 'btn btn-light', name: "is_submitted", value: "true" %>
  </div>
<% end %>
