<div class="d-flex justify-content-center">
  <h2>Profile Setup</h2>
</div>
<br>

<%= form_with(model: @artist_detail, url: user_artist_detail_path) do |f| %>
  <%= render 'layouts/shared/flash' %>

  <div class="mb-3">
    <%= f.text_field :artist_name, placeholder: "Artist Name", class: "form-control", autofocus: true, autocomplete: "artist_name", readonly: true, required: true %>
  </div>

  <div class="mb-3">
    <%= f.email_field :email, placeholder: "Email Address", class: "form-control", autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="mb-3">
    <%= f.country_select :country_code, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="mb-3">
    <%= f.file_field :image, class: "form-control", autofocus: true, required: true %>
    <i><%= f.label :image, 'Minimum required size is 353px x 353px' %></i>
  </div>

  <div class="mb-3">
    <%= f.text_field :bio, placeholder: "Bio", class: "form-control", autofocus: true, autocomplete: "bio" %>
  </div>

  <div class="mb-3">
    <%= f.text_field :website_link, placeholder: "Website Link", class: "form-control", autofocus: true, autocomplete: "website_link", required: true %>
  </div>

  <%= f.fields_for :links do |link| %>
    <%= render 'link_fields', f: link %>
  <% end %>

  <div class="mb-3 actions d-flex justify-content-end">
    <%= link_to_add_association 'Add link', f, :links, class: 'btn btn-outline-secondary', force_non_association_create: true %><br>
  </div>

  <% if @artist_detail.is_pro? %>
    <div class="mb-3 actions d-flex justify-content-center">
      <%= link_to 'UPGRADE TO PRO', 'javascipt:void(0)', class: 'btn btn-secondary disabled' %><br>
    </div>
  <% else %>
    <div class="mb-3 actions d-flex justify-content-center">
      <%= f.button 'UPGRADE TO PRO', type: 'submit', class: 'btn btn-secondary', name: "is_pro", value: "true" %><br>
    </div>
  <% end %>

  <div class="mb-3 actions d-flex justify-content-center">
    <% if params[:is_pro] == 'true' || @artist_detail.is_pro == true %>
      <%= f.button 'SAVE', type: 'submit', class: "btn btn-secondary mx-2", name: "is_pro", value: "done" %>

    <% else %>
      <%= f.submit 'SAVE', class: "btn btn-secondary mx-2" %>
    <% end %>
    <%= link_to 'CANCEL', root_path, class: "btn btn-secondary mx-2" %>
  </div>
<% end %>
