<div class="d-flex justify-content-center">
  <h2>Profile Setup</h2>
</div>
<br>

<%= form_with(model: @artist_detail, url: user_artist_detail_path) do |f| %>
  <%= render 'layouts/shared/flash' %>

  <%#byebug%>
  <div class="mb-3">
    <%= f.text_field :artist_name, placeholder: "Artist Name", class: "form-control", autofocus: true, autocomplete: "artist_name", readonly: true, required: true %>
  </div>

  <div class="mb-3">
    <%= f.email_field :email, placeholder: "Email Address", class: "form-control", autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="mb-3">
    <%= f.country_select :country_code, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="mb-3">
    <%= f.file_field :image, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="mb-3">
    <%= f.text_field :bio, placeholder: "Bio", class: "form-control", autofocus: true, autocomplete: "bio" %>
  </div>

  <div class="mb-3">
    <%= f.text_field :website_link, placeholder: "Website Link", class: "form-control", autofocus: true, autocomplete: "website_link", required: true %>
  </div>

  <%#byebug%>

  <%= f.fields_for :links do |link| %>
    <%#byebug%>
    <%= render 'link_fields', f: link %>
  <% end %>

  <div class="mb-3 actions d-flex justify-content-end">
    <%= link_to_add_association 'Add link', f, :links, class: 'btn btn-outline-secondary', force_non_association_create: true %><br>
  </div>

  <div class="mb-3 actions d-flex justify-content-center">
    <%= link_to 'UPGRADE TO PRO', nil, class: 'btn btn-secondary' %><br>
  </div>

  <div class="mb-3 actions d-flex justify-content-center">
    <%= f.submit 'SAVE', class: "btn btn-secondary mx-2" %>
    <%= link_to 'CANCEL', nil, class: "btn btn-secondary mx-2" %>
  </div>
<% end %>
