<tr id="tr<%= audition.id %>">
  <th scope="row"><%= audition.id %></th>

  <td><%= audition.full_name %></td>

  <td><%= audition.artist_name %></td>

  <td><%= audition.email %></td>

  <td><%= audition.genres.join(', ') %></td>

  <td><%= audition.created_at.strftime("%d %b %Y %I:%M %p") %></td>

  <% if audition.user_id == nil %>
    <td><%= select_tag :assigned_to, options_for_select(User.manager.map{ |u| [u.get_username, u.email] }), class: 'form-control manager-selection', data: { audition_id: audition.id }, prompt: 'Select Manager' %></td>
  <% else %>
    <td><%= audition.user.get_username %></td>
  <% end %>

  <td><%= audition.status.titleize %></td>
</tr>
