<tr id="tr<%= audition.id %>">
  <th scope="row"><%= audition.id %></th>

  <td><%= audition.first_name + " " + audition.last_name %></td>

  <td><%= audition.artist_name %></td>

  <td><%= audition.email %></td>

  <td>
    <% audition.genres.each do |genre| %>
      <% if !(genre.equal?(audition.genres.last)) %>
        <%= genre + "," %>
      <% else %>
        <%= genre %>
      <% end %>
    <% end %>
  </td>

  <td><%= audition.created_at.strftime("%d %b %Y %I:%M %p") %></td>

  <% if audition.user_id == nil %>
    <td><%= select_tag :assigned_to, options_for_select(User.where(role: 1).map{ |u| u.email.split('@').first }), class: 'form-control manager-selection', data: { audition_id: audition.id }, prompt: 'Select Manager' %></td>
  <% else %>
    <td><%= audition.user.email.split('@').first %></td>
  <% end %>

  <td><%= audition.status.titleize %></td>
</tr>
