<div class="modal-header">
  <h5 class="modal-title" id="emailModalToggleLabel">Send Email</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <%= form_tag(update_status_and_send_invite_path) do %>
    <div class="mb-3">
      <%= label_tag :email, nil, autocomplete: "email" %>
    </div>

    <div class="mb-3">
      <%= email_field_tag :email, audition.email, class: 'form-control', autocomplete: "email", disabled: true %>
    </div>

    <div class="mb-3">
      <%= label_tag :content, nil, autocomplete: "content" %>
    </div>

    <% if params[:value] == status_value('accepted') %>
      <div class="mb-3">
        <%= cktext_area_tag :content, t(".accept_content"), class: 'form-control', id: 'email-content', autocomplete: "content" %>
      </div>
    <% elsif params[:value] == status_value('rejected') %>
      <div class="mb-3">
        <%= cktext_area_tag :content, t(".reject_content"), class: 'form-control', id: 'email-content', autocomplete: "content" %>
      </div>
    <% end %>
</div>

<div class="modal-footer">
    <%= link_to 'Send Email', 'javascipt:void(0)', id: 'send-email-button', class: 'btn btn-primary', data: { bs_dismiss: 'modal', id: audition.id, value: params[:value] } %>
  <%end%>
</div>
