<div class="modal-header">
  <div class="modal-title" id="auditionModalLabel">
    <b class="font-size"><%= @audition.first_name + ' ' + @audition.last_name %></b>
    <i class="ps-3"><%= @audition.status %></i>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <div class="row mb-3">
    <div class="col">
      <b>First Name</b>
    </div>

    <div class="col">
      <%= @audition.first_name %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Last Name</b>
    </div>

    <div class="col">
      <%= @audition.last_name %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Email</b>
    </div>

    <div class="col">
      <%= @audition.email %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Artist Name</b>
    </div>

    <div class="col">
      <%= @audition.artist_name %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Track Links</b>
    </div>

    <div class="col">
      <%#= render @audition.links %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Submitted at</b>
    </div>

    <div class="col">
      <%= @audition.created_at.strftime("%d %b %Y %I:%M %p") %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Genres</b>
    </div>

    <div class="col">
      <%= @audition.genres.join(', ') %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Heard From</b>
    </div>

    <div class="col">
      <%= @audition.hear_about %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <b>Additional Info</b>
    </div>

    <div class="col">
      <% if @audition.additional_info.blank? %>
        -
      <% else %>
        <%= @audition.additional_info %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal-footer">
  <% if current_user == @audition.user %>
    <%= link_to 'Accept', show_email_modal_path(id: @audition.id, value: status_value('accepted')), class: 'btn btn-outline-success', remote: true %>
    <%= link_to 'Reject', show_email_modal_path(id: @audition.id, value: status_value('rejected')), class: 'btn btn-outline-warning', remote: true %>
    <%= link_to 'Delete', update_status_and_send_invite_path(id: @audition.id, value: status_value('deleted')), class: 'btn btn-outline-danger', remote: true %>
  <% else %>
    <%= link_to 'Accept', nil, class: 'btn btn-outline-success disabled' %>
    <%= link_to 'Reject', nil, class: 'btn btn-outline-warning disabled' %>
    <%= link_to 'Delete', nil, class: 'btn btn-outline-danger disabled' %>
  <% end %>
</div>

