<div class="container">
  <br>

  <div class="col-md-4">
    <%= form_with(url: managers_path, method: :get) do |f| %>
      <%= f.text_field :query, class: 'search-bar', placeholder: 'Search by Name, Artist, Email or Genres' %>
      <%= f.submit "Search", class: 'btn btn-secondary' %>
    <% end %>
  </div><br>

  <table id="auditions" class="table table-bordered table-striped table-hover table-color">
    <caption>List of Auditions</caption>
    <thead class="thead-dark">
      <th scope="col">ID</th>
      <th scope="col"><%= sortable "first_name", "NAME" %></th>
      <th scope="col"><%= sortable "artist_name", "ARTIST" %></th>
      <th scope="col"><%= sortable "email", "EMAIL" %></th>
      <th scope="col"><%= sortable "genres", "GENRES" %></th>
      <th scope="col"><%= sortable "created_at", "SUBMITTED" %></th>
      <!-- <th scope="col">LINKS</th> -->
      <th scope="col">ASSIGNED TO</th>
      <th scope="col"><%= sortable "status", "STATUS" %></th>
      <!-- <th colspan="6"></th> -->
    </thead>

    <tbody>
      <%= render @auditions %>
    </tbody>
  </table>
<br>

